@import 'bootstrap.min.css';
@import 'style.scss';
@import 'skobleoff.scss';
@import 'mobile.index.scss';
@import 'desktop.index.scss';

body
{
	margin: 0;
	background-color: rgba(34, 196, 205, 0.15);
}

.iframe-node
{
	.screen
	{
		padding-bottom: 20px;
		padding-top: 33px;
	}
	
}

.screen
{
	width: 100%;
	height: auto;
	position: static;
	margin: auto;
	margin-top: 30px;
	overflow: visible;
	max-width: 1200px;
	background: white;
	padding-top: 20px;
	padding-bottom: 20px;
	
	&.fixed-screen
	{
		position: fixed;
		margin: 0;
		overflow: hidden;
		height: 100%;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1;
		
		.screen-header
		{
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}
	
	.screen-header
	{
		padding: 15px;
		
		.header-button
		{
			box-shadow: none;
			border: none;
			background: none;
			border-radius: 50%;
			padding: 6px 8px;
			outline: none;
			
			&:focus
			{
				background-color: #eee;
			}
			
			&:hover
			{
				background-color: #eee;
			}
		}
		
		.icon-back
		{
			margin-right: 10px;
		}
		
		.title
		{
			font-size: 20px;
			margin-top: 8px;
			margin-left: -50px;
		}
	}
	
	.screen-body
	{
		height: calc(100% - 84px);
		overflow-y: auto;
		overflow-x: hidden;
		box-sizing: border-box;
	}
}

.input-wrapper
{
	width: 100%;
	border-radius: 3px;
	border: 1px solid #ccc;
	padding-left: 10px;
	
	input
	{
		width: 100%;
		font-size: 16px;
		padding: 10px 10px;
		border: none;
		outline: none;
	}
}

.organisation
{
	.organisation-icon
	{
		margin-right: 10px;
	}
	
	.organisation-name
	{
		font-size: 12px;
	}
	
	.organisation-short
	{
		font-size: 16px;
	}
	
	.organisation-addition
	{
		color: #207c85;
		font-size: 12px;
	}
	
	&:not(:last-child)
	{
		border-bottom: 1px solid #eee;
	}
}

.result
{
	.result-name
	{
		font-size: 16px;
	}
	
	svg
	{
		margin-top: -3px;
		margin-right: 10px;
		fill: #777;
	}
}

.separator
{
	margin: 15px 0;
	background-color: #eee;
	height: 0.5px;
}

.text-primary
{
	color: #207c85;
}

.text-secondary
{
	color: #999;
}

.d-flex
{
	display: flex;
	
	&.justify-content-between
	{
		justify-content: space-between;
	}
}

.pair-wrapper
{
	display: flex;
	
	&.doubled
	{
		margin-top: 5px;
	}
	
	&:not(.doubled)
	{
		margin-top: 15px;
	}
	
	.type-info, .time-info
	{
		margin-top: 3px;
	}
	
	.type-info
	{
		width: 25px;
		text-align: center;
		margin-right: 15px;
		
		.pair-number
		{
			border-radius: 50%;
			color: white;
			font-size: 14px;
			margin-bottom: 3px;
			padding: 0 6px;
		}
		
		.type-name
		{
			font-size: 12px;
		}
	}
	
	.main-info
	{
		width: 100%;
		
		.subject-name
		{
			font-size: 16px;
			margin-bottom: 3px;
		}
		
		.aud-number
		{
			margin-right: 10px;
			font-weight: bold;
		}
	}
	
	.time-info, .additional-info
	{
		font-size: 13px;
	}
	
	.time-info
	{
		text-align: right;
		margin-left: 5px;
	}
}

.day-wrapper
{
	.no-pairs
	{
		margin-top: 10px;
		font-size: 14px;
	}
	
	& + .separator
	{
		margin: 20px 0;
	}
	
	.timer
	{
		color: #fff;
		padding: 3px 6px;
		border-radius : 2px;
		font-size: 12px;
		display: inline-block;
		vertical-align: -10px;
		margin-bottom: -8px;
		
		svg
		{
			fill: #fff;
			vertical-align: -4px;
			margin-right: 3px;
		}
	}
}

.settings-screen
{
	.screen-header
	{
		.title
		{
			margin-left: 0;
			vertical-align: 4px;
		}
	}
}
.schedule-screen, .settings-screen
{
	.screen-header
	{
		border-bottom: 1px solid #ccc;
	}
}
.schedule-screen
{
	.screen-header
	{
		position: relative;
		padding-top : 5px !important;
		padding-bottom : 5px !important;
		
		img
		{
			width: 120px;
			height: 19px;
			margin-top: 10px;
		}
	}
	
}

.open-in-full, .label
{
	position: fixed;
	left: 0;
	width: 100%;
	background: white;
	text-align: center;
	padding: 2px 0;
	
	a
	{
		font-size: 14px;
		opacity: 0.5;
		text-decoration: none;
		color : #207c85;
	}
}

.label
{
	bottom: 0;
	border-top: 1px solid #ccc;
}

.open-in-full
{
	top: 0;
	border-bottom: 1px solid #ccc;
	padding: 5px 0;
	
	a
	{
		color: #ff8562 !important;
		font-size: 18px !important;
	}
}

.load-more
{
	text-align: center;
	color: #999;
	padding: 5px 0 10px 0;
}

.hover-opacity
{
	transition: all 300ms linear;
	opacity: 1;
	cursor: pointer;
	
	:hover
	{
		opacity: 0.8;
	}
}

.hover-background
{
	transition: all 300ms linear;
	cursor: pointer;
	
	&:hover
	{
		background: #eee;
	}
}

.custom-control-label
{
	position: relative;
	left: 10px;
	top: -2px;
	font-weight: normal !important;
}

.searchBox
{
	width: 100%;
}

.multiselect-container .chip
{
	border-radius: 2px;
	background-color: rgba(15, 113, 115, 0.1) !important;
	border: 1px solid rgba(15, 113, 115, 0.1) !important;
	color: #0f7173 !important;
	white-space: normal;
}

.multiselect-container li
{
	border-radius: 2px;
	background-color: rgba(15, 113, 115, 0.1) !important;
	color: #0f7173 !important;
}
