@media only screen and (max-width: 600px)
{

	.screen
	{
		margin-top: 0 !important;
		.screen-body
		{
			padding: 0 15px;
		}
	}
	
	.schedule-screen
	{
		.screen-header
		{
			margin-bottom: 20px;
		}
	}
	
}
